.invoiceContainer {
  background-color: white;
  padding: 90px;
  max-width: 970px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.invoiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyDetails {
  font-size: 14px;
  line-height: 1.5;
}

.companyLogo img {
  width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.invoiceDetails {
  text-align: right;
  margin-top: 20px;
}

.invoiceDetails h1 {
  font-size: 24px;
  margin: 0;
}

.invoiceInfo {
  font-size: 14px;
}

.clientDetails {
  margin-top: 30px;
  overflow: hidden;
  resize: none; 
}

.currencySelection {
  margin: 20px 0;
}

.invoiceTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoiceTable th,
.invoiceTable td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.invoiceTotal {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.addRow {
  margin-top: 22px;
  font-size: 30px;
  position: relative;
}

.addRow a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


.summaryTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.summaryTable td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: right;
  font-size: 14px;
}

.summaryTable tr td:first-child {
  text-align: left;
}

.listingButton {
  position: absolute;
  right: -3px;
  top: -39px;
}

.listingButtonControl {
  position: absolute;
  right: 434px;
  top: -44px;
}
.balanceRow {
  background-color: #f0f0f0;
}


.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.display {
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  white-space: pre-line; 
}

.textarea {
  width: 100%;
  padding: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  overflow: hidden; 
  resize: none;
  margin-top: 16px;
}

.textarea:focus {
  outline: none;
}

.focused {
  background-color: #ffffcc; 
  border-color: #ff9933;
}
.invoice_companyLogo {
  position: absolute;
  top: 0px;
  right: 0px;
}
.info {
  background-color: #e7f3fe;

  margin-top: 23px;
}
.noteInput {
  overflow: hidden;
  resize: none;
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
}

.downloadButton {
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

